@import "./sass/bulma/sass/utilities/initial-variables";
$blue: #446CB3;
$red: #D24D57;
$dark: #363636;
$primary: $blue;
/*Font linked in <head> of html pages*/
$family-primary: "Lato", sans-serif;

@import "./sass/bulma/sass/utilities/_all";
@import "./sass/bulma/bulma";

.completed{
    background-color: $green;
}

.container{
    padding: 0 !important;
}

.hero{
    background-image: url("assets/bckgrnd.jpg");
}

@import "@material/mdc.textfield.css";